* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    background-color: #8A51FC;
    padding: 30px;
}

#logo {
    border-radius: 12px;
    width: 300px;
    margin: 20px auto;
    display: block;
}

#sectionInputs {
    background-color: rgb(169,169,169);
    border-radius: 22px;
    width: 375px; 
    padding: 44px 24px 23px;
}

.labelPrimario {
    display: block;
    font-size: 14px;
    Line-height: 18px;
    margin-bottom: 5px;
    margin-top: 7px;
}

input {
    width: 327px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #BBBBBB;
    padding: 18px;
}

input:focus {
    background-color: #8A2BE2;
    border-color: aqua;
    color: white;
}

input::placeholder {
    color: black;
}

button {
    display: block;
    margin: 15px auto;
    width: 327px;
    height: 48px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 500;
    background-color: purple;
    color: white;
}

#sectionImgs {
    width: 327px;
    border: 2px solid #772FD3;
    display: block;
    padding: 10px 24px 23px;
}

#brazil, #usa{
    width: 44px;
    margin: 0 auto;
    display: block;
}

.label {
    display: flex;
    justify-content: center;
    font-size: 14px;
}

p{
    font-size: 20px;
    color: #2E8B57;
    margin-bottom: 11px;
    text-align: center;
}

#seta{
    width: 35px;
    margin: 22px auto;
    display: block;
}
